/* Set some default settings */
* {
  box-sizing: border-box; /* Use box sizing to include padding and margin in total width/height*/
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.resume-container {
  display: grid;
  grid-template-columns: 30% 70%; /* Define column widths */
  grid-gap: 20px;
  height: 100vh; /* Set the container height to 100% of viewport height */
  font-family: Verdana, sans-serif;
  color: #555555;
}

.left-column {
  position: fixed;
  text-align: center;
  width: 25%;
  height: 100%;
  padding: 20px;
  background-image: linear-gradient(to right, #D8D8D8, white);
}

img {
  width: 80%;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #F4BB44;
  margin-top: 50px;
}

.links {
  display: inline-block;
  font-size: 2em;
  padding: 30px 20px;
  text-decoration: none;
  color: #555555;
}

.social-links a:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
  color: #F4BB44;
}

.right-column {
  width: 100%;
  align-items: center;
  position: relative;
}

/* Text */
h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
  padding-top: 10px;
  font-weight: normal;
}

p {
  font-size: 1em;
}

#short-presentation\ section {
  font-size: 1.5em;
}

.navbar {
  align-items: center;
  font-size: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  overflow: hidden;
}

.navbar li:first-child {
  float: left;
  margin-left: 20px;
}

.navbar li {
  display: block;
  float: right;
  text-align: center;
  padding: 1.3em;
}

.navbar li a {
  text-decoration: none;
  color: #222222;
}

.navbar li a:hover {
  transition: transform 0.4s ease-in-out;
  transform: scale(1.2);
  color: #F4BB44;
}

#short-presentation\ section, #about\ section, #resume\ section, #contact\ section{
  padding: 20% 10%;
}

li {
  list-style-type: square;
  padding: 5px 0px;
}

hr {
  border: 1px solid #F4BB44;
}

footer {
 text-align: center;
  padding: 20px 0px;
  width: 100%;
}

@media (max-width: 768px) and (max-width: 480px) {

  #short-presentation\ section {
    font-size: 1.2em;
  }

  #short-presentation\ section, #about\ section, #resume\ section, #contact\ section{
    padding: 90% 10% 30% 10%;
  }

  .navbar {
    flex-direction: column; /* Stack items vertically */
  }
}

